<html>
  <head>
    <title>Video Streaming Demonstration</title>
	
  </head>
 
	<FRAMESET cols="50%,50% frameborder="0" ">
    <FRAMESET rows="50%,50% frameborder="0" ">
        <frame src="http://127.0.0.1:6567/boxesvideo1" frameborder="0"/> 
        <frame src="http://127.0.0.1:6567/boxesvideo2" frameborder="0"/> 
    </FRAMESET>
    <FRAMESET rows="50%,50% frameborder="0"">
        <frame src="http://127.0.0.1:6567/boxesvideo3" frameborder="0"/> 
        <frame src="http://127.0.0.1:6567/boxesvideo3" frameborder="0"/>  
    </FRAMESET>
</FRAMESET>
	
</html>