
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Seating management in restaurant </title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Gaze Sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
         />
      <script>
         addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
      </script>
      <!-- Meta tags -->
      <!--stylesheets-->
      <link href="{{url_for('static',filename='css/styr.css')}}" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
   </head>
   <body>
      <div class="mid-class">
         <div class="art-right-w3ls">
            <h2>Restaurant Sign Up </h2>
            <form action="" method="post">
               <div class="main">
                  <div class="form-left-to-w3l">
                     name<input type="text" name="name" placeholder="USERNAME" required="">
                  </div>
                  <div class="form-left-to-w3l ">
                     password<input type="password" name="password" placeholder="PASSWORD"
					  required="">
					  
				<div class="form-left-to-w3l">
                           <input type="email" name="email" placeholder="Email" required="">
                        </div>
				<div class="form-left-to-w3l">
                           <input type="text" name="phone" placeholder="Phone" required="">
                        </div>
				
				<div class="clear"></div>
                  </div>
               </div>
               <div class="left-side-forget">
               <div class="btnn">
                  <button type="submit">SUBMIT</button>
               </div>
            </form>
			
			<div class="w3layouts_more-buttn">
               <h3>Already  Have  an  account ....   ?       
                  <a href="http://127.0.0.1:6567/login2"><b>LOGIN!</b>
                  </a>
               </h3>
            </div>
        </body>
</html>